<h2>{{showCtrl.animal.name}}</h2>
<hr>
<div class="row">
	<div class="col-xs-6">
		<img ng-src="{{showCtrl.animal.image}}" class="img-responsive">
	</div>
	<div class="col-xs-6">
		<p><strong>Pokedex:</strong> {{showCtrl.animal.pokedex}}</p>
		<p><strong>Evolves From:</strong> {{showCtrl.animal.evolves_from}}</p>
		<br>

		<!-- buttons to edit/delete -->
		<a href="#" ng-click="editForm=!editForm" class="btn btn-default">Edit <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
		<a href="#" ng-click="showCtrl.deleteanimal(showCtrl.animal)" class="btn btn-default">Delete <span class="glyphicon glyphicon-trash"></span></a>

		<!-- edit form -->
		<div ng-show="editForm">
			<br>
	    <form ng-show="editForm" ng-submit="showCtrl.updateanimal(showCtrl.animal)">
	      <div class="form-group">
	        <input type="text" ng-model="showCtrl.animal.name" class="form-control" placeholder="Title">
	      </div>
	      <div class="form-group">
	        <input type="text" ng-model="showCtrl.animal.pokedex" class="form-control" placeholder="Pokedex">
	      </div>
	      <div class="form-group">
	        <input type="text" ng-model="showCtrl.animal.image" class="form-control" placeholder="Image">
	      </div>
	      <div class="form-group">
	        <input type="text" ng-model="showCtrl.animal.evolves_from" class="form-control" placeholder="Evolves From">
	      </div>
	      <input type="submit" value="Update animal" class="btn btn-default">
	    </form>
		</div>
	</div>
</div>
