<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>{{animalsCtrl.animals.type}}</h2>

    <label> Search: <input ng-model="searchText"> </label>

    <div ng-repeat="each in animalsCtrl.animals | filter:searchText">

      <hr>
    	<div class="row">
    		<div class="col-xs-4">
    			<img ng-src="{{each.image}}" class="img-responsive">
    		</div>
    		<div class="col-xs-8">
    			<h5><a ng-href="/animals/profile/{{each._id}}">{{each.name}}</a></h5>
    			<br>
    			<p class="">Type: {{each.type}}</p>
    			<p class="">Location: {{each.locations.toString()}}</p>
          <p class="">Endangered Year: {{each.endangeredYear}}</p>
    		</div>
    	</div>

    </div>

  </div>
</div>
