<div class="page-header">Endangered Animals</div>

<h2> Choose Animal Class </h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-4"> <img class="desc img-responsive" src="../images/class/mammal.jpg"> </div>
      <div class="col col-md-7"> <a href="/animals/class/Mammal"> Mammals </a> </div>
  </div>
    <div class="row">
      <div class="col-md-4"> <img class="desc img-responsive" src="../images/class/bird.jpg"> </div>
      <div class="col col-md-7"> <a href="/animals/class/Bird">Birds </a></div>
    </div>
    <div class="row">
      <div class="col-md-4"> <img class="desc img-responsive" src="../images/class/reptile.jpg"> </div>
      <div class="col col-md-7"> <a href="/animals/class/Reptile">Reptiles </a></div>
    </div>
    <div class="row">
      <div class="col-md-4"> <img class="desc img-responsive" src="../images/class/amphibian.jpg"></div>
      <div class="col col-md-7"> <a href="/animals/class/Amphibian">Amphibians </a> </div>
    </div>
    <div class="row">
      <div class="col-md-4"> <img class="desc img-responsive" src="../images/class/fish.jpg"> </div>
      <div class="col col-md-7"> <a href="/animals/class/Fish">Fish </a></div>
    </div>
    <div class="row">
      <div class="col-md-4"> <img class="desc img-responsive" src="../images/class/insect.jpg"> </div>
      <div class="col col-md-7"> <a href="/animals/class/Insect">Insects</a></div>
    </div>
  </div>
</div>
