<div class="row">
  <img id="map" src="../images/map1.png"/>

  <div class="col-md-8 col-md-offset-2">

    <div class="row desc">
      <div class="col col-md-4">
          <img class="desc img-responsive" src="../images/wolf.jpg"/>
      </div>
      <div class="col col-md-7">
          <h3 class="desc"> <a href="/index"> Endangered Animals </a></h3>
          <p class="desc"> Learn more about endangered animals and how they can be saved <p>
      </div>
    </div>

    <div class="row desc">
      <div class="col col-md-4">
          <img class="desc img-responsive" src="../images/warming.jpg"/>
      </div>
      <div class="col col-md-7">
          <h3 class="desc"> Global Warming </h3>
          <p class="desc"> Learn how you can save the environment <p>
      </div>
    </div>

    <div class="row desc">
      <div class="col col-md-4">
          <img class="desc img-responsive" src="../images/change.jpg"/>
      </div>
      <div class="col col-md-7">
          <h3 class="desc"> Climate Change </h3>
          <p class="desc"> Learn how climate change impacts the environment <p>
      </div>
    </div>

  </div>
  
</div>
